---

---

<nav
  id="container"
  class="text-beige text-sm w-full flex justify-between px-10 pt-2"
>
  <span>2025 / LUCASGRAV</span>
  <span>BUENOS AIRES</span>
  <span>19:38</span>

  <section class="flex gap-2">
    <span>INDEX</span>
    <span>ABOUT</span>
    <span>WORK</span>
  </section>
</nav>
