---
import Timer from "./Timer";
---

<nav
  class="text-beige text-sm w-full flex justify-between px-3 py-4 lg:px-10 b"
>
  <span>2025 / LUCAS CORREA</span>
  <span>BUENOS AIRES</span>
  <Timer client:load />

  <section class="gap-2 hidden lg:flex">
    <span>INDEX</span>
    <span>ABOUT</span>
    <span>WORK</span>
  </section>
</nav>
