<main
  class="text-beige text-6xl px-3 w-full h-full flex justify-center md:items-center md:text-9xl"
>
  <section class="flex flex-col py-4">
    <span>SOFTWARE <br /> DEVELOPER <br /> B-SED IN <br />BUENOS AIRES</span>
  </section>
</main>
