<main
  class="text-beige text-6xl lg:text-9xl w-full h-full flex justify-center items-center"
>
  <section class="flex flex-col border border-r-0 border-l-0 py-4 lg:border-0">
    <span>SOFTWARE <br /> DEVELOPER <br /> B-SED IN <br />BUENOS AIRES</span>
  </section>
</main>
